
.container .flex{
    align-items: center;
    position: relative;
    
}


.home{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.mouse{
    position: absolute;
    top:150%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo{
    text-align: center;
    font-size: 50px;
}

.welc{
    text-align: center;
    font-size: 40px;
}

.del{
    text-align: center;
    font-size: 40px;
}

.intro{
    text-align: center;
    font-size: 15px;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.about{
    text-align: center;
}

.us{
    font-size: 20px;
}


.container .services{
    justify-content:space-between;
    text-align: center;
    position:relative;
    
}

.center{
    text-align: center;
    font-size: 19px;
    position:absolute;
    top:250% ;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
}

.container .what{
    text-align: center;
}

.do{
  display: flex;
  justify-content: space-between;
}


h2{
    text-align: center;
}

.column{
    padding: 10px;
    justify-content: space-between;
}

.row{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.row1{
    display:flex;
    padding: 10px;
    justify-content: space-between;
}

.container .contact{
    text-align: center;
    position: relative;
}

.cont{
    position:absolute;
    top:500% ;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
}

.frm{
    text-align: center;
}

::placeholder{
    padding: 10px;
    width: 90%;
}

textarea{
    margin-top:30px;
    margin-bottom: 10px;
    width: 90%;
    height: 20%;
    }

h4{
    text-align: center;
}

.icons{
   text-align: center;
}


#design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}


.portfolio h1 {
    text-align: center;
    font-weight: bold;
}

.portfolio {
    position: relative;
}

.dark {
    position: absolute;
    top: 5rem;
    color: #fff;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

.ontario {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 3rem;
    border: 3px solid white;
    width: 80%;
    margin: 3%;
    top: 1rem;
    height: 80%;
    font-weight: bold;
    display: none;
}

.orange {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 1rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.jim {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

#row {
    margin-top: 3rem;
}

.good {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.calc {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 4rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;

}

.burn {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 6rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

.giraffe {
    position: absolute;
    top: 5rem;
    color: #fff;
    font-size: 25px;
    margin-left: 1rem;
    border: 3px solid white;
    height: 80%;
    width: 80%;
    margin: 3%;
    top: 1rem;
    font-weight: bold;
    display: none;
}

